.session{
    position: page;
}
body{
    background: darkslategray;
}
.body{
	background-image: url(./img/fon.jpg);
background-size: cover;
height:200px;
	}

.loginform{
	margin-left: 40%;
	position: absolute; 
	
 top: 30%;

 text-align: center;
color: white;
}
h1{
    color:white;
}

.buttonstart{
	margin-left: 40%;
	position: absolute; 
}
.button{
	
	position: relative;
  display: inline-block;
  font-size: 54px;
  font-weight: bold;
  color: hsl(88, 70%, 30%);
  text-shadow: rgba(255,255,255,.5) 0 -1px 0, rgba(0,0,0,.2) 0 .18em .15em;
  text-decoration: none;
  user-select: none;
  margin: .5em;
  padding: .5em .6em .4em .6em;
  border-radius: 8px;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
  outline: none;
  background: #a2cf70 radial-gradient(rgba(255,255,255,0), rgba(255,255,255,.5));
  box-shadow:
   inset rgba(255,255,255,.6) 0 .3em .3em,
   inset rgba(0,0,0,.2) 0 -.1em .3em,
   rgb(128,161,103) 0 7px 1px,
   rgba(0,0,0,.2) 0 .5em 5px;
  transition: background .2s ease-in-out;
}

#wrapper{
   
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px ;
    height: 100%;
    width: 1400px;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, white, white 10px,
    transparent 10px, transparent 20px, #F8463F 20px, #F8463F 30px,transparent 30px, transparent 40px);
}
canvas{
    cursor: none;
}
.menu{
    position:absolute;
    top:30%;
    right:200px;
    width:200px;
}

.score{
    border: 1px;
    border-color: green;
    background-color: yellow;
}
.form-row {
    margin-bottom: 8px;
    overflow: hidden;
}
.form-row input {
    float: right;
    height: 19px;
    line-height: 19px;
    margin: 0px;
    padding: 0px 5px;
    width: 287px;
    border: 1px solid #ABADB3;
}

.reg-form {
    width: 416px;
    margin: 0 auto;
    color: white;
}